# Dependencies
node_modules

# Build output
dist
src-tauri/target
.cargo

# Test data (large files)
tests/spec.json
tests/spec-report.md

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Env
*.local
.env
.env.*
